<template>
  <div>
      <h1>Celebrities</h1>
      <Celebrities v-if="celebritiesIds.length" :ids="celebritiesIds" />
  </div>
</template>

<script>
import Celebrities from './Celebrities'

const celebritiesUrl = 'https://halloffame-server.herokuapp.com/fames?guest=true'

export default {
  name: 'App',

  components: {
    Celebrities
  },

  data() {
    return {
      celebritiesIds: []
    }
  },

  // fetch and retrieve celebrities' IDs on initial load
}
</script>